<div ng-if="properties.length == 0">
    <button ng-click="load_properties()" ng-disabled="properties.length > 0" class="btn btn-link btn-xs">
        {{item.name}}
    </button>
    <span class="pull-right">{{item.asset_type.name}}</span>
</div>    
<div ng-if="properties.length > 0">
    <form class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <legend>{{item.name}} ({{item.asset_type.name}})
                        <button ng-click="close()" class="btn pull-right btn-xs">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </legend>
                    <div class="row">
                        <div ng-repeat-start="property in properties">
                            <div class="form-group">
                                <label for="{{property.label_id}}" class="col-sm-4 control-label">{{property.label}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="{{property.label_id}}" ng-model="property.value">
                                </div>
                            </div>        
                        </div>
                        <div class="clearfix" ng-if="$index%2==2"></div>
                        <div ng-repeat-end=""></div>
                    </div>                    
                </fieldset>
            </div>      
        </div>      
    </form>
</div>
