<!--
<header class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#/">Talaos</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#/" role="button" class="navbar-brand">
                        Talaos
                    </a>
                    <li ng-repeat="item in items | unique: 'menu' | orderBy:'menu'" ng-show="item.name" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{item.menu}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="item1 in items | orderBy:'name' | filter:{'menu':item.menu}" ng-show="item.name">
                                <a href="#{{item1.item}}">{{item1.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>  
    </div>
</header>
-->

<md-content ng-app="asset">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <!-- TODO to finish sidebar for small screen
            <md-button hide show-sm class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                <i class="material-icons">menu</i>
            </md-button>
            -->
            <h2>
                <span><a href="#/">Talaos</a></span>
            </h2>
            <span flex></span>
            <md-button hide-sm class="md-button" aria-label="Assets">
                <a href="#/asset">Assets</a>
            </md-button>
            <md-button hide-sm class="md-button" aria-label="asset_type">
                <a href="#/asset_type">Asset type</a>
            </md-button>
            
        </div>
    </md-toolbar>
    <!-- TODO to finish sidebar for small screen
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding>
            <form>
                <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput" ng-model="data" md-sidenav-focus>
                </md-input-container>
            </form>
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Left
            </md-button>
        </md-content>
    </md-sidenav>  
    -->
</md-content>  